name: Automatic Build and JGiven Report
#description4: Automatically builds the project and generates a JGiven report on code push or pull request.

on:
  push:
    branches: [ main, feature/publish-to-github-pages ]
  pull_request:
permissions:
  contents: write


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - name: Delete report folders older than 5 minutes
        run: if [ -d build/reports/jgiven-html ]; then find build/reports/jgiven-html -mindepth 1 -maxdepth 1 -type d -mmin +5 -exec rm -rf {} +; fi

      - name: Run build and JGiven report
        run: ./gradlew clean test jgivenReport --info

      - name: List JGiven report files
        run: ls -l build/reports/jgiven-html

      - name: Set RUN_ID
        run: echo "RUN_ID=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV

      - name: Move report to history folder
        run: |
          shopt -s dotglob
          mkdir -p build/reports/jgiven-html/$RUN_ID
          find build/reports/jgiven-html -mindepth 1 -maxdepth 1 ! -name "$RUN_ID" -exec mv {} build/reports/jgiven-html/$RUN_ID/ \; 

      - name: Deploy JGiven HTML report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/reports/jgiven-html
          publish_branch: gh-pages

      - name: Show published report link
        run: |
          echo "Report URL: https://rvseetha.github.io/Playground/${RUN_ID}/index.html"

